
/Lab 1 (One-dimensional optimization)/cmake-build-debug
/Lab 1 (One-dimensional optimization)/data
/Lab 1 (One-dimensional optimization)/doc
/Lab 2 (Gradient Descent)/cmake-build-debug
/Lab 2 (Gradient Descent)/doc
/Lab 1 (One-dimensional optimization)/.idea
